{% extends 'base.html' %}
{% block content %}
<form action="/countries/{{country.id}}" method="post">
  <h1>Edit {{country.name}}</h1>  
  <div class="form">
    <div class="formContainer">
      <label for="name" class="label">Name:</label>
      <input class="input" type="text" id="description" name="name" value="{{country.name}}" placeholder="Name" required autofocus>
    </div>
  
    <div class="formContainer">
      <label for="capital" class="label">Capital:</label>
      <input class="input" type="text" id="capital" name="capital" value="{{country.capital}}" placeholder="capital" required>
    </div>

    <div class="formContainer">
      <label for="visited" class="label">Visited:</label>
      <select class="select" id="visited" name="visited">
        <option value="true" {% if country.visited == True %}
            selected ="selected"
        {% endif %}>True</option>
        <option value="false" {% if country.visited == False %}
            selected ="selected"
        {% endif %}>False</option>
      </select>
    </div>
  
    <button class="button" type="submit">Update Country</button>
  </div>
</form>
{% endblock content %}