{% extends 'base.html' %}

{% block content %}
<h1><b>Countries</b></h1>
<p><a href="/countries/new">add country</a></p></p>

<table id="country_table">
  <tr>
    <th>Name</th>
    <th>Capital</th>
    <th>Population</th>
    <th>Visited?</th>
    <th>Delete?</th>
  </tr>
  {% for country in countries %}
  <tr>
    <td><a href="/countries/{{ country.id }}"> {{country.name}} </a></td>
    <td>{{country.capital}}</td>
    <td>{{country.population}}</td>
    <td>{% if country.visited == True %}
        ✔️
    {% endif %}</td>
    <td>
      <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
        <button class="trash-button">Delete City</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}