{% extends 'base.html' %}
{% block content %}
<form action="/countries" method="post">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
    </div>
  
    <div>
      <label for="capital">Capital:</label>
      <input type="text" id="capital" name="capital">
    </div>

    <div>
        <label for="population">Population:</label>
        <input type="number" id="population" name="population">
    </div>
  
    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
    </div>
  
    <button type="submit">Add Task</button>
  
</form>
{% endblock content %}