{% extends 'base.html' %}

{% block content %}
<h1><b>{{city.name}}</b></h1>   
<p>
    Visited: 
    {% if city.visited == True %}
        ✔️
    {% endif %}
    <form class="delete-form" action="/countries/cities/{{city.id}}/delete" method="POST">
        <button class="trash-button">Delete City</button>
    </form>
</P>

<p>
    {% for place in places %}
        <b>Name:</b> {{place.name}}
        <br><b>Information:</b>{{place.information}}
        <br><b>Visited?</b>
        {% if place.visited == True %}
            ✔️
        {% endif %}
        <a href="/cities/place_of_interest/{{place.id}}/edit">Edit</a>
        <br>
    {% endfor %}
</p>
<p>To add a place of interest <a href="/cities/place_of_interest/new">click here</a></p>
<p>To edit the city <a href="/countries/cities/{{city.id}}/edit">click here</a></p>
{% endblock %}