{% extends 'base.html' %}

{% block content %}
<h1><b>{{city.name}}</b></h1>
<p>
Visited: 
{% if city.visited == True %}
    ✔️
{% else %}
    𝘅
{% endif %}
</p>
<nav>
    <div class="dropdown">
      <button class="dropbtn">options ⌆</button>
      <div class="dropdown-content">
        <a href="/cities/{{city.id}}/edit">Edit City</a>
        <a href="/cities/{{city.id}}/delete">Delete City</a>
        <a href="/poi/new">Add place of interest</a>
      </div>
    </div>
  </nav>

<div id = "all-cards">
    {% for place in places %}
    <div id="card-container">
      <div class="text-card">
        <div class="heading">
          <h2>{{place.name}}</h2>
          <p>{{place.information}}</p>
        </div>
    
      <div class="text-box">
        <p>
        {% if place.visited == True %}
          visited: ✔️
        {% else %}
          visited: 𝘅
        {% endif %}</p>
      <form class="delete-form" action="/poi/{{city.id}}/{{place.id}}/delete" method="POST">
        <button class="trash-button"><img src="/static/pictures/Bin.png" class="w3-round" alt="bin"></button>
        <a href="/poi/{{place.id}}/edit"><b>Edit</b></a>
      </form>
      </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}