{% extends 'base.html' %}
{% block content %}
<h1>Add City to Bucket List!</h1>
<h5 class="clickHere">If the country is not on the list <a href="/countries/new">click here!</a></h5>
<form action="/cities" method="post">
  <div class="form">
    <div class="formContainer">
      <label class="label" for="name">Name:</label>
      <input class="input" type="text" id="name" name="name" placeholder="Name">
    </div>
  
    <div class="formContainer">
        <label class="label" for="country">Country:</label>
        <select class="select" id="country" name="country_id">
          {% for country in countries %}
              <option value="{{country.id}}">{{country.name}}</option>
          {% endfor %}
        </select>
    </div>

    <div class="formContainer">
        <label class="label" for="visited">Visited:</label>
        <select class="select" id="visited" name="visited">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
    </div>
  
    <button class="button" type="submit">Add City</button>
  
  </div>
</form>

{% endblock content %}