<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>My Bucket List</title>
</head>
<body>
  <header>
    <nav>
      <div class="dropdown">
        <button class="dropbtn">menu ⌆</button>
        <div class="dropdown-content">
          <a href="/">Home</a>
          <a href="/countries">Countries</a>
          <a href="cities/new">New Adventure</a>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
<footer>
  &copy;Valuks Bucket List Manager
</footer>
</html>
