<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>My Bucket List</title>
</head>
<body class = "gradualBackground">
  <header>
    <nav>
      <ul>
          <li><a href="/countries">Countries</a></li>
          <li>|</li>
          <li><a href="/cities/new">New Adventure</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
<footer>
  &copy;Valuks Bucket List Manager
</footer>
</html>
