{% extends 'base.html' %}
{% block content %}
<form action="/place_of_interest/update/{{place.id}}" method="post">
  <h1>Edit {{place.name}}</h1>
  <div class="form">  
  <div class="formContainer">
      <label class="label" for="name">Name:</label>
      <input class="input" type="text" id="description" name="name" value="{{place.name}}" placeholder="Name" required autofocus>
    </div>

    <div class="formContainer">
      <label class="label" for="information">Information:</label>
      <textarea class="input" name="information" id="information" value="{{place.information}}" placeholder="Information" required autofocus  cols="30" rows="5" ></textarea>
    </div>

    <div class="formContainer">
        <label class="label" for="city">City:</label>
        <select class="input" id="city" name="city_id">
          {% for city in cities %}
              <option value="{{city.id}}" {% if city.id == place.city.id %}
                  selected="selected"
              {% endif %}>{{city.name}}</option>
              {% endfor %}
            </select>
    </div>

    <div class="formContainer">
      <label class="label" for="visited">Visited:</label>
      <select class="input" id="visited" name="visited">
        <option value="true" {% if place.visited == True %}
            selected ="selected"
        {% endif %}>True</option>
        <option value="false" {% if place.visited == False %}
            selected ="selected"
        {% endif %}>False</option>
      </select>
    </div>
  
    <button type="submit">Update Place Of Interest</button>
</div>
</form>
{% endblock content %}