{% extends 'base.html' %}
{% block content %}
<h1>Add Place Of Interest to city!</h1>
    
    <form action="/poi/create" method ='post'>
    <div class="form">
        <div class="formContainer">
            <label class="label" for="name">Place:</label>
            <input class="input" type="text" name="name" id="name" placeholder="Place">
        </div>
        <div class="formContainer">
            <label class= "label" for="information">Information:</label>
            <textarea class="input" name="information" id="information" placeholder="Information" cols="15" rows="3"></textarea>
        </div>
        <div class="formContainer">
            <label class="label" for="city">City:</label>
            <select class="select" name="city_id" id="city">
                {% for city in cities %}
                    <option value="{{city.id}}">{{city.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="formContainer">
            <label class="label" for="visited">Visited:</label>
            <select class="select" id="visited" name="visited">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
        </div>
        <button class="button" type="submit">Add Place Of Interest</button>
        </div>
    </form>
{% endblock content %}